.list {
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 999;
    background: var(--green-bg-golor);
    background-image: url(./../../../../assets/images/bgImg/mb-nav-bg.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform var(--transition), opacity var(--transition);
  }

  .nav.active {
    opacity: 1;
    transform: translateX(0);
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_item {
    width: 50vw;
    text-align: center;
  }

  .nav_item:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav_item {
    position: relative;
  }
  .nav_item:not(:last-child) {
    margin-right: 60px;
  }

  .list {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .nav_item {
    position: relative;
  }
  .nav_item:not(:last-child) {
    margin-right: 80px;
  }

  .list {
    display: flex;
  }
}
