.link_btn {
  display: block;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
  color: var(--main-color);
  cursor: pointer;

  font-weight: 700;
}

.link_btn:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .link_btn_active {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.14;
    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .link_btn {
    font-size: 12px;
    line-height: 1.33;
  }
  .link_btn_active {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 12px;
    line-height: 1.33;

    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  .link_btn {
    font-size: 14px;
    line-height: 1.14;
  }
  .link_btn_active {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;

    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}
